img{
    width: 100px;
    height: 200px;
    align-items: center;
}
body{
    text-align: center;
    background-color: rgb(244, 247, 250);
}
h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}